extends layout

block content

    div(class="fullPage")
        div(class="summary")
            img(src=tutorial.cover_l_url alt=`${tutorial.title}`)
            h2 #{tutorial.title}
            br
            p() #{tutorial.summary}

            - var tags = tutorial.tag;
            if tags.length
                each tag in tags
                    a(href=`${tag.url}/details`) #{tag.name}

        iframe(class="contentframe" title="tutorial" src=`${tutorial.tutorial_url}`)


            