extends layout

block content

    form(method="post" autocomplete="on")

        fieldset(class= "row")

            legend
                h1 #{title}
            
            label(class="formLabels" for="title") Title:
            input(class="formInputs" id="title", type="text", 
            placeholder="Video Title" name="title" required value=`${video.title}`)

            label(class="formLabels" for="summary") Summary:
            textarea(class="formInputs" id="summary", type="text", 
            placeholder="Video Summary" name="summary" required) #{video.summary}

            label(class="formLabels" for="video_url") Video URL:
            input(class="formInputs" id="video_url", type="url", 
            placeholder="Video URL" name="video_url" required value=`${video.video_url}`)

            label(class="formLabels" for="cover_s_url") Video Cover (Small) URL:
            input(class="formInputs" id="cover_s_url", type="text", 
            placeholder="Video Cover (Small) URL" name="cover_s_url" value=`${video.cover_s_url}`)

            label(class="formLabels" for="cover_l_url") Video Cover (Large) URL:
            input(class="formInputs" id="cover_l_url", type="text", 
            placeholder="Video Cover (Large) URL" name="cover_l_url" value=`${video.cover_l_url}`)

            label(class="formLabels" for="tags") Tags:
            div(class="formInputs" id="tags")
                for tag in tags
                    div(class="CheckBoxContainer")
                        if tag.checked
                            input(id=tag._id, value=tag._id, name="tag", type="checkbox", checked)
                        else
                            input(id=tag._id, value=tag._id, name="tag", type="checkbox")
                        label(for=tag._id) &nbsp;#{tag.name}

            div(class="formButtons")
                button(id="submit" type="submit") Submit
                a(class="alert" onclick=`confirmRedirect('${video.url}/delete')`) Delete

